*{
    margin: 0;
    box-sizing: border-box;
}
.menu{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    background-color: gray;
    font-size: 12px;
}
a{
    color: aliceblue;
    text-decoration: none;
    display: block;
    width: 100%;
}
a:hover{
    background-color: rgba(237,83,83,0.5);
}
@media(min-width: 576px){
    .menu{
        flex-direction: row;
        text-align: center;
        justify-content: space-around;
        font-size: 16px;

    }
    hr{
        display: none;
    }
}
@media(min-width: 768px){
    .menu{
        font-size: 20px;
    }
}
@media(min-width: 1400px){
    .menu{
        font-size: 24px;
    }
}