*{
    margin: 0;
    box-sizing: border-box;

}
body{
    background-color: rgb(215,231,250);
}

#root {
    width: 800px;
    height: 600px;
    position: relative;
    font-size: 50px;
    padding: 20px;
    margin: auto;
    text-align: justify;
}
#block {
    width: 800px;
    height: 600px;
    position: absolute;
    top: 0px;
    left: 10px;
    background-color: rgb(215,231,250);
    overflow: hidden;
    transition: max-height 5s ease-out;
    border-top: 3px solid red;
}