.container{
    background-color: rgba(173, 243, 234, 0.694);
    width: 400px;
    height: 400px;
}
ul{
    display: flex;
    list-style: none;
    position: relative;
    left: -40px;
}
textarea{
    text-overflow: clip;
    padding-left: 5px;
    

}
