#gameArea{
    position: relative;
    width: 400px;
    height: 300px;
    border: 2px salmon solid;
    background-color: blanchedalmond;
    margin-bottom: 30px;
}
#player{
    width: 40px;
    height: 40px;
    position: absolute;
    background-color: brown;
    left: 180px;
    top: 130px;

}